$mobile-margin: 0 1rem;
$tablet-margin: 0 2.25rem;
$desktop-margin: 0 auto;


$background-color-1: #323232;
$background-color-2: #ffffff;
$background-color-3:#fafafa;
$text-color-1: #323232;
$text-color-2: #ffffff;
