@use './partials/resets.scss' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;



@media (min-width: 320px) and (max-width: 767px) {
  .header {
    background-color: $background-color-1;
    text-align: center;
    padding: 1rem;
    color: $text-color-2;
    &__logo {
      @include header-section-text;
      text-transform: uppercase;
    }
    .nav__link {
      display: flex;
      justify-content: space-around;
      padding: 0.125rem;
      color: $text-color-3;
      // MAKE HOVER MORE NOTICEABLE!!!//
      &:hover {
        color:#ffffff;
      }
      &--active {
        color: #ffffff;
        font-weight: bold;
        border-bottom: 5px solid #ffffff;
        padding-bottom: 1rem;
        }
      }
  }

  .hero {
    position: relative;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    color: $text-color-2;
    padding: 6rem 3rem;
    display: flex;
    align-items: center;
    &__name {
      @include header-section-text;
      text-align: left;
      font-weight: 600;
      position: absolute;
      top: 5rem;
      left: 1rem;
    }
  &::before {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color-1;
    opacity: 0.5;
    }
  }

  .about {
  padding-top: 2rem;
  margin: 0 1rem;
    &__title {
      @include header-section-text;
      font-weight: 600;
      padding-bottom: 1rem;
    }
    &__image {
      align-items: center;
      width: 100%;
      padding-bottom: 1rem;
    }
    blockquote, p {
      @include subheader-text;
    }
    }

  .band {
    display: flex;
    flex-direction: column;
    @include body-text;
    margin-right: 1rem;
    &__name {
      padding: 1rem;
      font-weight: 500;
    }  
      p {
        padding: 0 0.5rem 0.5rem 1rem;
        }
    }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $background-color-3;
    padding: 1rem 1rem;
  }
  .gallery__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: left;
    padding-top: 1rem;
    // padding-left: 1rem;
  }
  .gallery__image {
    width: 100%;
    padding-top: 1rem;
  }
      
  .footer {
    background-color: $background-color-1;
    align-items: left;
    padding: 2rem 1rem;
    color: $text-color-2;
      &__social--title {
        @include header-section-text;
        font-weight: 600;
      }
      .social__nav--list {
        display: flex;
        justify-content: left;
        gap: 2rem;
        padding: 1rem 0;
      }
    .footer__contact {
      @include footer-text;
      display: flex;
      flex-direction: column;
      justify-content: left;
      &--name {
        // font-weight: 400;
        padding-top: 1rem;
      }
      &--address,
      &--email {
        padding: 1rem 0;
      }
    }
    &__logo {
      @include header-section-text;
      text-transform: uppercase;
      padding-top: 2rem;
    }
    &__copyright {
      font-size: 0.7rem;
    padding-top: 1rem;
    }
  }
}
