@use './partials/resets.scss' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;


//Mobile Styles
@media (max-width: 767px) {
  .header {
    background-color: $background-color-1;
    text-align: center;
    padding: 1rem;
    color: $text-color-2;
    &__logo {
      @include header-section-text;
      text-transform: uppercase;
    }
    .nav__link {
      display: flex;
      justify-content: space-around;
      padding: 0.125rem;
      color: $text-color-3;
      transition: color 0.2s ease;
      &:hover {
        color:#ffffff;
        font-weight: bold; 
      }
      &--active {
        color: #ffffff;
        font-weight: bold;
        border-bottom: 5px solid #ffffff;
        padding-bottom: 1rem;
      }
    }
  }

  .hero {
    position: relative;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    color: $text-color-2;
    padding: 6rem 3rem;
    display: flex;
    align-items: center;
    &__name {
      @include header-section-text;
      text-align: left;
      font-weight: 600;
      position: absolute;
      top: 5rem;
      left: 1rem;
    }
    &::before {
      content: "";
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $background-color-1;
      opacity: 0.5;
    }
  }

  .about {
  padding-top: 2rem;
  margin: 0 1rem;
    &__title {
      @include header-section-text;
      font-weight: 600;
      padding-bottom: 1rem;
    }
    &__image {
      align-items: center;
      width: 100%;
      padding-bottom: 1rem;
    }
    blockquote, p {
      @include subheader-text;
    }
  }

  .band {
    display: flex;
    flex-direction: column;
    @include body-text;
    margin-right: 1rem;
    &__name {
      padding: 1rem;
      font-weight: 500;
    }  
    p {
      padding: 0 0.5rem 0.5rem 1rem;
    }
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $background-color-3;
    padding: 1rem 1rem;
    &__title{
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
      text-align: left;
      padding-top: 1rem;
    }
    .gallery__image {
      width: 100%;
      padding-top: 1rem;
      filter: grayscale(100%);
      transition: filter 0.3s ease;
      &:hover {
        filter: grayscale(0%);     
      }
    }
  } 
  

  .comments__header {
    @include header-section-text;
    font-weight: 600;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comment__form--items {
    border-bottom: 1px solid $text-color-3;
    padding: 1rem;
    margin: $mobile-margin;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: left;
  }

  .input-container label {
    color: $subheadings-text;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.5rem; 
    padding: 0.75rem;
  }

  .input-container input[type="text"],
  .input-container textarea {
    width: 100%;
    padding: 0.5rem ; 
    margin: auto;
    border: 1px solid #E5E5E5; 
    border-radius: 4px; 
    text-align: center;
    background-color: $background-color-3;
  }

  .input-container input[type="text"]:focus,
  .input-container textarea:focus {
    border: 1px solid #000; 
    outline: none; 
    
  }

  
  .input-container.error input[type="text"],
  .input-container.error textarea {
    border: 1px solid #d22d2d; 
  }

  //Align avatar to left of label name - needs fixing
  .avatar-container {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .avatar-image {
    max-width: 200%;
    max-height: 100%;
  }

  .comment-name {
    font-weight: 600;
  }

  .comment-header .comment-timestamp {
    color: $subheadings-text;
    text-align: right;
  }

  .comment-button {
    background-color: $background-color-1; 
    color: $text-color-2; 
    border: none;
    padding: 0.5rem; 
    height: 2.5rem; 
    margin: 1rem 0;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%; 
    text-align: center;
    @include subheader-text; 
    text-transform: uppercase;
  }
  // Border/line should not span full width - needs fixing

  .footer {
    background-color: $background-color-1;
    align-items: left;
    padding: 2rem 1rem;
    color: $text-color-2;
      &__social--title {
        @include header-section-text;
        font-weight: 600;
      }
      .social__nav--list {
        display: flex;
        justify-content: left;
        gap: 2rem;
        padding: 1rem 0;
      }
    .footer__contact {
      @include footer-text;
      display: flex;
      flex-direction: column;
      justify-content: left;
      &--name {
        padding-top: 1rem;
      }
      &--address,
      &--email {
        padding: 1rem 0;
      }
    }
    &__logo {
      @include header-section-text;
      text-transform: uppercase;
      padding-top: 2rem;
    }
    &__copyright {
      font-size: 0.7rem;
    padding-top: 1rem;
    }
  }
}


//Tablet Styles
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    background-color: $background-color-1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    color: $text-color-2;
    &__logo {
      @include header-section-text;
      text-transform: uppercase;
      padding-right: 2rem;
    }
    .nav__link {
      list-style: none;
      margin-right: 10rem;
      padding-right: 2rem;
      display: flex;
      gap: 2rem; 
      padding-right: 2rem;
      .nav__link--active {
        font-weight: bold;
        border-bottom: 7px solid #ffffff;
        padding-bottom: 1.5rem;
        a {
          text-decoration: none;
          color: $text-color-3;
          transition: color 0.2s ease;
          &:hover {
            color: #ffffff;
            font-weight: bold;
          }
        }
      }
    }
  }

  .hero {
    position: relative;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    color: $text-color-2;
    padding: 15rem 3rem;
    display: flex;
    align-items: center;
    &__name {
      @include header-text-wider;
      text-align: left;
      font-weight: 600;
      position: absolute;
      top: 14rem;
      left: 4rem;
    }
    &::before {
      content: "";
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $background-color-1;
      opacity: 0.5;
    }
  }

  .about {
    padding-top: 2rem;
    margin: 0 5rem;
    &__title {
      @include section-text-wider;
      font-weight: 600;
      padding-bottom: 1rem;
    }
    &__image {
      align-items: center;
      width: 100%;
      padding-top: 1rem;
      padding-right: 5rem;
    }
    blockquote, p {
      @include subheader-text;
    }
  }

  .band {
    margin: 0 5rem;
    @include body-text-wider;
    margin-right: 1rem;
    &__name {            
      @include subheader-text-wider;
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
    }
    .band__biography--container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 1rem;
      column-count: 2;
      column-gap: 1rem;
      margin-right: 5rem;
      p {
        @include body-text-wider;
        padding: 0 0.5rem 0.5rem 1rem;
        flex-basis: calc(50% - 1rem);
        margin-right: 1rem;
      }
    }  
  }

  .gallery {
    background-color: $background-color-3;
    padding: 1rem;
    &__title {
      @include section-text-wider;
      font-weight: 600;
      padding: 1rem 0.5rem;
    }
    &__images {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      .gallery__image {
        width: calc(33.33% - 1rem);
        height: auto;
        filter: grayscale(100%);
        transition: filter 0.2s ease;
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }

  .comments__header {
    @include header-section-text;
    font-weight: 600;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comment__form--items {
    border-bottom: 1px solid $text-color-3;
    padding: 3rem 12rem;
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: left;
  }

  .input-container label {
    color: $subheadings-text;
    text-transform: uppercase;
    font-weight: 600;
    // margin-bottom: 0.5rem; 
    padding-bottom: 2rem;
  }

  .input-container input[type="text"],
  .input-container textarea {
    width: 100%;
    padding: 1rem ; 
    margin: auto;
    border: 1px solid #E5E5E5; 
    border-radius: 4px; 
    text-align: center;
    background-color: $background-color-3;
  }

  .input-container input[type="text"]:focus,
  .input-container textarea:focus {
    border: 1px solid #000; 
    outline: none; 
  }

  
  .input-container.error input[type="text"],
  .input-container.error textarea {
    border: 1px solid #d22d2d; 
  }

  .avatar-container {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .avatar-image {
    max-width: 200%;
    max-height: 100%;
  }

  .comment-name {
    font-weight: 600;
  }

  .comment-header .comment-timestamp {
    color: $subheadings-text;
    text-align: right;
  }

  .comment-button {
    background-color: $background-color-1; 
    color: $text-color-2; 
    border: none;
    padding: 0.5rem; 
    height: 2.5rem; 
    margin: 1rem 0;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%; 
    text-align: center;
    @include subheader-text; 
    text-transform: uppercase;
  }

  .footer {
    background-color: $background-color-1;
    padding: 2rem;
    color: $text-color-2;
    position: relative;
    &__social {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      padding-bottom: 1rem;
      &--title {
        @include section-text-wider;
        font-weight: 500;
      }
      .social__nav--list {
        display: flex;
        justify-content: left;
        gap: 2rem;
        padding-right: 1rem;
        padding-top: 0.8rem;
      }
    }
    .footer__contact {
      @include footer-text-wider;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2rem;
      &--name {
        padding-top: 2rem;
      }
      &--address,
      &--email {
        padding: 2rem 0;
      }
    }
    &__logo {
      @include section-text-wider;
      font-size: 1.5rem;
      text-transform: uppercase;
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
    &__copyright {
      font-size: 1rem;
      padding: 2rem 0 1rem 0;
    }
  }
}

//Destop Styles
@media (min-width: 1280px) {
  .header {
    background-color: $background-color-1;
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem 4rem;
    color: $text-color-2;
    &__logo {
      @include header-section-text;
      text-transform: uppercase;
      padding-right: 4rem;
    }
    .nav__link {
      list-style: none;
      padding-right: 2rem;
      display: flex;
      align-items: left; 
      gap: 2rem; 
      .nav__link--active {
        font-weight: bold;
        border-bottom: 8px solid #ffffff;
        padding-bottom: 1.5rem;
        a {
          text-decoration: none;
          color: $text-color-3;
          transition: color 0.2s ease;
          &:hover {
            color: #ffffff;
            font-weight: bold;
          }
        }
      }
    }
  }

  .hero {
    position: relative;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    color: $text-color-2;
    padding: 24rem 6rem;
    display: flex;
    align-items: center;
    &__name {
      @include header-text-wider;
      text-align: left;
      font-weight: 600;
      position: absolute;
      top: 14rem;
      left: 4rem;
    }
    &::before {
      content: "";
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $background-color-1;
      opacity: 0.5;
    }
  }

  .about {
    padding-top: 3rem;
    margin: 0 10rem;
    &__title {
      @include section-text-wider;
      font-weight: 600;
      padding-bottom: 1rem;
    }
    &__image {
      align-items: center;
      width: 100%;
      padding-top: 2.25rem;
      padding-right: 5rem;
      padding-bottom: 2.25rem
    }
    blockquote, p {
      @include subheader-text;
      display: flex;
      flex-direction: wrap;
    }
  }

  .band {
    margin: 0 10rem;
    @include body-text-wider;
    margin-right: 1rem;
    &__name {            
      @include subheader-text-wider;
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
    }
    .band__biography--container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 1rem;
      column-count: 2;
      column-gap: 1rem;
      margin-right: 5rem;
      p {
        @include body-text-wider;
        padding: 0 0.5rem 0.5rem 1rem;
        flex-basis: calc(50% - 1rem);
        margin-right: 1rem;
      }
    }  
  }

  .gallery {
    background-color: $background-color-3;
    padding: 2rem 8rem;
    &__title {
      @include section-text-wider;
      font-weight: 600;
    }
    &__images {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      .gallery__image {
        width: calc(33.33% - 1rem);
        height: auto;
        filter: grayscale(100%);
        transition: filter 0.2s ease;
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }

  .comments__header {
    @include header-section-text;
    font-weight: 600;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comment__form--items {
    border-bottom: 1px solid $text-color-3;
    padding: 3rem 12rem;
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: left;
  }

  .input-container label {
    color: $subheadings-text;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 2rem;
  }


  .input-container input[type="text"],
  .input-container textarea {
    width: 100%;
    padding: 1rem ; 
    margin: auto;
    border: 1px solid #E5E5E5; 
    border-radius: 4px; 
    text-align: center;
    background-color: $background-color-3;
  }

  .input-container input[type="text"]:focus,
  .input-container textarea:focus {
    border: 1px solid #000; 
    outline: none; 
  }

  
  .input-container.error input[type="text"],
  .input-container.error textarea {
    border: 1px solid #d22d2d; 
  }

  .avatar-container {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .avatar-image {
    max-width: 200%;
    max-height: 100%;
  }

  .comment-name {
    font-weight: 600;
  }

  .comment-header .comment-timestamp {
    color: $subheadings-text;
    text-align: right;
  }

  .comment-button {
    background-color: $background-color-1; 
    color: $text-color-2; 
    border: none;
    padding: 0.5rem; 
    height: 2.5rem; 
    margin: 1rem 0;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%; 
    text-align: center;
    @include subheader-text; 
    text-transform: uppercase;
  }

  .footer {
    background-color: $background-color-1;
    padding: 2rem;
    color: $text-color-2;
    position: relative;
    &__social {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      padding-bottom: 1rem;
      &--title {
        @include section-text-wider;
        font-weight: 500;
      }
      .social__nav--list {
        display: flex;
        justify-content: left;
        gap: 2rem;
        padding-right: 1rem;
        padding-top: 0.8rem;
      }
    }
    .footer__contact {
      @include footer-text-wider;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2rem;
      &--name {
        padding-top: 2rem;
      }
      &--address,
      &--email {
        padding: 2rem 0;
      }
    }
    &__logo {
      @include section-text-wider;
      font-size: 1.5rem;
      text-transform: uppercase;
      position: absolute;
      top: 2rem;
      right: 10rem;
    }
    &__copyright {
      font-size: 1rem;
      padding: 2rem 0 1rem 0;
    }
  }
}

//NEEDS FIXING - DRY PRINCIPLE