* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

h1, h2, h3 {
  font-size: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Avenir", sans-serif;
}

address {
  font-style: normal;
}

@media (max-width: 767px) {
.header {
  background-color: #323232;
  text-align: center;
  padding: 1rem;
  color: #ffffff;
}
.header__logo {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
}
.header .nav__link {
  display: flex;
  justify-content: space-around;
  padding: 0.125rem;
  color: #e1e1e1;
  transition: color 0.2s ease;
}
.header .nav__link:hover {
  color: #ffffff;
  font-weight: bold;
}
.header .nav__link--active {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 5px solid #ffffff;
  padding-bottom: 1rem;
}
.hero__album {
  position: relative;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 5rem 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.hero__album--name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  text-align: left;
  font-weight: 400;
  position: absolute;
  top: 3rem;
  left: 1rem;
  padding-right: 4rem;
}
.hero__album--song {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  font-weight: 600;
  position: absolute;
  top: 5rem;
  left: 1rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.hero__album iframe {
  padding-top: 5rem;
  align-self: left;
}
.iframe-container {
  width: 80%;
  height: 100px;
}
  

.concert__list--header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 2rem;
}
.concert__list--headings {
  display: none;
}
.concert__list--item {
  border-bottom: 1px solid #e1e1e1;
  padding: 0 1rem;
  margin: 0 1rem;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
}
.concert__list--item.selected {
  background-color: #fafafa;
}
.concert__list--item:hover {
  background-color: #fafafa;
}
.concert__list--item .concert__list--date,
.concert__list--item .concert__list--venue,
.concert__list--item .concert__list--location {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #afafaf;
  padding: 1rem;
  text-transform: uppercase;
}
.concert__list--item .buyTickets {
  background-color: #323232;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  height: 2.5rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  text-transform: uppercase;
}
.footer {
  background-color: #323232;
  align-items: left;
  padding: 2rem 1rem;
  color: #ffffff;
}
.footer__social--title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
.footer .social__nav--list {
  display: flex;
  justify-content: left;
  gap: 2rem;
  padding: 1rem 0;
}
.footer .footer__contact {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.footer .footer__contact--name {
  padding-top: 1rem;
}
.footer .footer__contact--address, .footer .footer__contact--email {
  padding: 1rem 0;
}
.footer__logo {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  padding-top: 2rem;
}
.footer__copyright {
  font-size: 0.7rem;
  padding-top: 1rem;
}
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    background-color: #323232;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    color: #ffffff;
  }
  .header__logo {
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
    padding-right: 2rem;
  }
  .header .nav__link {
    list-style: none;
    margin-right: 10rem;
    padding-right: 2rem;
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
  }
  .header .nav__link .nav__link--active {
    font-weight: bold;
    border-bottom: 7px solid #ffffff;
    padding-bottom: 1.5rem;
  }
  .header .nav__link .nav__link--active a {
    text-decoration: none;
    color: #e1e1e1;
    transition: color 0.2s ease;
  }
  .header .nav__link .nav__link--active a:hover {
    color: #ffffff;
    font-weight: bold;
  }
  .hero__album {
    position: relative;
    background-image: url("../assets/images/hero-shows.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .hero__album--name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    text-align: left;
    font-weight: 400;
    padding-top: 2rem;
  }
  .hero__album--song {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    font-weight: 600;
    padding-top: 2rem;
  }
  .hero__album iframe {
    padding-bottom: 5rem;
    margin-left: auto;
    width: 50%;
  }
  .concert__list {
    padding: 0 2.25rem;
    margin: 0 2.25rem;
  }
  .concert__list--header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 2rem;
  }
  .concert__list--headings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    padding-right: 11rem;
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #afafaf;
    text-transform: uppercase;
  }
  .concert__list--headings h3 {
    text-transform: uppercase;
    font-weight: 600;
  }
  .concert__list--item {
    border-bottom: 1px solid #e1e1e1;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
  }
  /* .concert__list--item.selected {
    background-color: #fafafa;
  } */
  .concert__list--item:hover {
    background-color: #fafafa;
  }
  .concert__list--item .concert__list--date,
  .concert__list--item .concert__list--venue,
  .concert__list--item .concert__list--location {
    display: none;
  }
  .buyTickets {
    background-color: #323232;
    color: #ffffff;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
  .footer {
    background-color: #323232;
    padding: 2rem;
    color: #ffffff;
    position: relative;
  }
  .footer__social {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .footer__social--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 500;
  }
  .footer__social .social__nav--list {
    display: flex;
    justify-content: left;
    gap: 2rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
  }
  .footer .footer__contact {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
  }
  .footer .footer__contact--name {
    padding-top: 2rem;
  }
  .footer .footer__contact--address, .footer .footer__contact--email {
    padding: 2rem 0;
  }
  .footer__logo {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .footer__copyright {
    font-size: 1rem;
    padding: 2rem 0 1rem 0;
  }
}
@media (min-width: 1280px) {
  .header {
    background-color: #323232;
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem 4rem;
    color: #ffffff;
  }
  .header__logo {
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
    padding-right: 4rem;
  }
  .header .nav__link {
    list-style: none;
    padding-right: 2rem;
    display: flex;
    align-items: left;
    gap: 2rem;
  }
  .header .nav__link .nav__link--active {
    font-weight: bold;
    border-bottom: 8px solid #ffffff;
    padding-bottom: 1.5rem;
  }
  .header .nav__link .nav__link--active a {
    text-decoration: none;
    color: #e1e1e1;
    transition: color 0.2s ease;
  }
  .header .nav__link .nav__link--active a:hover {
    color: #ffffff;
    font-weight: bold;
  }
  .hero__album {
    position: relative;
    background-image: url("../assets/images/hero-shows.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .hero__album--name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    text-align: left;
    font-weight: 400;
    padding-top: 2rem;
  }
  .hero__album--song {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    font-weight: 600;
    padding-top: 2rem;
  }
  .hero__album iframe {
    padding-bottom: 5rem;
    margin-left: auto;
    width: 50%;
  }
  .concert__list {
    display: grid;
    grid-template-columns: auto 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: start;
    padding: 0 2.25rem;
    margin: 0 2.25rem;
  }
  .concert__list--header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 2rem;
  }
  .concert__list--headings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    padding: 3rem 11rem 2rem 0;
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #afafaf;
    text-transform: uppercase;
  }
  .concert__list--headings h3 {
    text-transform: uppercase;
    font-weight: 600;
  }
  .concert__list--item {
    border-bottom: 1px solid #e1e1e1;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
  }
  .concert__list--item.selected {
    background-color: #fafafa;
  }
  .concert__list--item:hover {
    background-color: #fafafa;
  }
  .concert__list--item .concert__list--date,
  .concert__list--item .concert__list--venue,
  .concert__list--item .concert__list--location {
    display: none;
  }
  .buyTickets {
    background-color: #323232;
    color: #ffffff;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
  .footer {
    background-color: #323232;
    padding: 2rem;
    color: #ffffff;
    position: relative;
  }
  .footer__social {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .footer__social--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 500;
  }
  .footer__social .social__nav--list {
    display: flex;
    justify-content: left;
    gap: 2rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
  }
  .footer .footer__contact {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
  }
  .footer .footer__contact--name {
    padding-top: 2rem;
  }
  .footer .footer__contact--address, .footer .footer__contact--email {
    padding: 2rem 0;
  }
  .footer__logo {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    right: 10rem;
  }
  .footer__copyright {
    font-size: 1rem;
    padding: 2rem 0 1rem 0;
  }
}/*# sourceMappingURL=shows.css.map */